DynaMakerQFSFlow_unzipped/Microsoft.Flow/flows/113b10c6-f367-4f18-a76a-a78d12a976bf/definition.json
{"name":"d0b0f618-9add-4d53-ae1f-9371cbba5264","id":"/providers/Microsoft.Flow/flows/d0b0f618-9add-4d53-ae1f-9371cbba5264","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"DynaMaker QFS Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ffbc0d52-852e-4d52-b59e-b84d3bed10f9","type":"User","tenantId":"e976f917-ef00-441f-8776-221c06a5f7d6"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-01-18T15:51:32.4786996Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Custom_trigger":{"metadata":{"operationMetadataId":"bfc1f1ea-dc56-44f6-ab47-800c9d2c9ae0"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_elfsquaddata","connectionName":"shared_elfsquaddata","operationId":"create_trigger"},"parameters":{"trigger_name":"quotation.configurationadded"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Configuration":{"runAfter":{"Flow_Settings":["Succeeded"]},"metadata":{"operationMetadataId":"3884c018-0c33-491a-a56a-7462f51f0585"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_elfsquaddata","connectionName":"shared_elfsquaddata","operationId":"invoke_function"},"parameters":{"function_path":"configurator/1/configurator/open","function_input_schema/configurationId":"@triggerOutputs()?['body/content/configurationId']"},"authentication":"@parameters('$authentication')"}},"Create_Configuration_Variable":{"runAfter":{"Get_Configuration":["Succeeded"]},"metadata":{"operationMetadataId":"ab8be7ff-d1fe-4d70-b111-e4a931930366"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Configuration","type":"string","value":"@{json(string(body('Get_configuration')))}"}]},"description":"This is needed to access the body of the Elfsquad \"Open Configuration\" block."},"Check_Configuration_Model_ID":{"actions":{"QFS_Job":{"runAfter":{},"metadata":{"operationMetadataId":"cd9ef41d-8e30-48ed-8cd8-fb106c087722"},"type":"HttpWebhook","inputs":{"subscribe":{"method":"POST","uri":"https://qfs.dynamaker.com/jobs","headers":{"qfs-api-key":"@{variables('Settings')['qfs-api-key']}"},"body":{"applicationId":"@{variables('Settings')['applicationId']}","task":"@{variables('Settings')['task']}","environment":"@{variables('Settings')['environment']}","configuration":"@json(variables('Configuration'))","callbackUrl":"@listCallbackUrl()"}},"unsubscribe":{}},"description":"This is a standard HTTP Webhook block that starts a Quote File Service (QFS) job to generate a PDF file. The flow will wait for QFS to generate the file and send it back using the \"callbackUrl\" that we provide."},"Check_job_status":{"actions":{"Add_file_to_quotation":{"runAfter":{},"metadata":{"operationMetadataId":"e7bdeb4b-4170-48b3-af22-7801244f39ad"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_elfsquad","connectionName":"shared_elfsquad","operationId":"Quotations_AddFile"},"parameters":{"id":"@triggerOutputs()?['body/content/quotationId']","File/body":"@body('QFS_Job')","File/fileName":"@concat('drawing ', convertFromUtc(utcNow(), 'W. Europe Standard Time', 'yyyy-MM-dd HH:mm:ss'), '.pdf')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"QFS_Job":["Succeeded"]},"else":{"actions":{"Terminate_2":{"runAfter":{},"metadata":{"operationMetadataId":"d6d1e6be-3ecc-407b-9c32-b0e16577ed72"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"@{body('QFS_Job')?['message']}"}}}}},"expression":{"equals":["@outputs('QFS_Job')['queries']['success']","@string('true')"]},"metadata":{"operationMetadataId":"7a9adda5-f89f-4876-8da9-2ef533dde494"},"type":"If","description":"Here we check if the callback URL was called with success=true in the search parameters. If not, something went wrong and we will handle the error in the \"No\" branch. Otherwise we can use the file in the \"Yes\" branch."}},"runAfter":{"Create_Configuration_Variable":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"78be8cf0-c5dc-4ec4-bbd0-97f230a52cbd"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@outputs('Get_Configuration')?['body/configurationModelId']","@variables('Settings')['configurationModelId']"]},"metadata":{"operationMetadataId":"9eae478a-ef6f-414e-9ec0-f66e9cf88f19"},"type":"If","description":"The trigger will react to any configuration model, but we only want to continue with this flow if the configuration model ID is equal to that of the Industry Gate."},"Flow_Settings":{"runAfter":{},"metadata":{"operationMetadataId":"21b2ab1d-0f93-4ef1-8c83-c6389cbd99eb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Settings","type":"object","value":{"configurationModelId":"MY_ELFSQUAD_CONFIGURATION_MODEL_ID","applicationId":"MY_DYNAMKER_APPLICATION_ID","task":"generate-pdf","environment":"test","qfs-api-key":"MY_QFS_KEY"}}]}}},"outputs":{}},"connectionReferences":{"shared_elfsquaddata":{"connectionName":"45fac016bd344f028927aaf143ebd051","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_elfsquaddata","tier":"NotSpecified"},"shared_elfsquad":{"connectionName":"shared-elfsquad-d6ec90ee-0286-4f29-8d57-c23893df4491","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_elfsquad","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}
